body {
	background: black;
	display: flex;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

p {
	color: blue;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 5;
	height: 5;
}

.postcard-header h1 {
	width: 90;
	margin: 0px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 5px;
}
